[Desktop Entry]
Version=1.0
Type=Application
Name=guideos scanner studio
Name[de]=GuideOS Scanner Studio
Comment=Scanner App für GuideOS
Exec=guideos-scanner
Icon=guideos-scanner
Terminal=false
StartupNotify=true
Categories=Office;GuideOS;
StartupWMClass=guideos-scanner
