Source: guideos-scanner-studio
Section: utils
Priority: optional
Maintainer: Nightworker<Nightworker@guideos.de>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0

Package: guideos-scanner-studio
Architecture: all
Depends: python3,
         python3-pyqt6,
         python3-pil,
         python3-sane,
         python3-opencv,
         python3-numpy,
         python3-pypdf,
         sane-utils,
         tesseract-ocr,
         tesseract-ocr-deu,
         tesseract-ocr-eng
Description: Scanner App für GuideOS
 Paket wurde automatisch mit der GuideOS DEB Suite erstellt.
